.vr-color-d5 {color:#fff !important; background-color:#2f0a78 !important}

.logo-linkedin{color:#0072b1 !important;}
.logo-instagram{color:#E1306C !important;}
.logo-youtube{color:#FF0000 !important;}
.logo-orcid{color:#A6CE39 !important;}

.logo-instagram-grad{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.highlight,.highlighting{
    background: linear-gradient(to right, #897ff3, #55b7f7);
}

.highlight-hover:hover{
    background: linear-gradient(45deg, #897ff3, #55b7f7);
    /*background: ;*/
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.highlight-text{
    background: linear-gradient(45deg, #897ff3, #55b7f7);
    /*background: ;*/
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.jt-theme-background {color: #000 !important; background: #e2ecf7 !important;}
.jt-theme-background-d1 {color: #000 !important; background: #d4e0eb !important;}
.jt-theme-background-d2 {color: #000 !important; background: #cad6e1 !important;}

.jt-theme-gradient {color: #fff !important; background: linear-gradient(to right, #897ff3, #55b7f7) !important;}
.jt-theme-purple {color: #fff !important; background-color:#897ff3 !important}
.jt-theme-blue {color: #fff !important; background-color:#55b7f7 !important}

.jt-text-pastel-d3 {color: #abc4ff !important;}
.jt-text-pastel-d2 {color: #b6ccfe !important;}
.jt-text-pastel-d1 {color: #c1d3fe !important;}
.jt-text-pastel    {color: #ccdbfd !important;}
.jt-text-pastel-l1 {color: #d7e3fc !important;}
.jt-text-pastel-l2 {color: #e2eafc !important;}
.jt-text-pastel-l3 {color: #edf2fb !important;}

.jt-pastel-d3 {color: #000 !important; background: #abc4ff !important;}
.jt-pastel-d2 {color: #000 !important; background: #b6ccfe !important;}
.jt-pastel-d1 {color: #000 !important; background: #c1d3fe !important;}
.jt-pastel    {color: #000 !important; background: #ccdbfd !important;}
.jt-pastel-l1 {color: #000 !important; background: #d7e3fc !important;}
.jt-pastel-l2 {color: #000 !important; background: #e2eafc !important;}
.jt-pastel-l3 {color: #000 !important; background: #edf2fb !important;}

.w3-padding-128 {padding-top: 128px !important; padding-bottom: 128px !important;}

.hptcg-slides {display:none;}